body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.textarea{
  border: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 700px;
}



.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: red;
  font-family: 'Share Tech Mono', monospace;
  background-color: #000000;
  font-size: 40px;
  width: 60px;
}

.past {
  background-color: gray;
  color: white;
}

.present {
  background-color: #1f9c00;
  color: white;
}

.future {
  background-color: #fab217;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  position: relative;
  left: 0px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.momenttd {
    font-size: 40px;
}

.inputBox  {
    border-block-color: red;
    background-color: rgb(0, 255, 21);
    width: 80%;
    margin: 0%;
    padding: 10px;
}

.saveBtn    {
    color: blue;
    height: 100px;
    padding: 10px;
}

.saveBtn i {
    font-size: 60px;
}
